@font-face {
  font-family: Slackey;
  src: url('./Assets/Slackey.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Slackey;
}

html,
body,
#root {
  overflow: hidden;
  background: #9ab855;
}

input,
button,
select {
  appearance: none;
  outline: none;
  border: none;
}
